.deals {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.deals_content {
  display: flex;
  justify-content: space-between;
  width: 1050px;
}

.deals_content > div > h3 {
  font-size: 25px;
  font-weight: 500;
}

.deals_content > div > :nth-child(2) {
  color: rgb(151, 151, 151);
  font-size: 15px;
  margin-top: 5px;
}

.deals_content > div:first-child > :nth-child(3) {
  color: var(--maincolor);
  font-size: 40px;
  margin-top: 5px;
  font-weight: 600;
}

.deals_img {
  height: 347px;
}

.deals_img > img {
  height: 347px;
}

.deals_img_title {
  font-size: 17px !important;
  font-weight: 400 !important;
  margin-top: 10px;
}

.deals_img > span {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.deals_img_before {
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  color: rgb(190, 190, 190);
  text-decoration-line: line-through;
}
