.todaysRecommands {
  margin-left: 412px;
  margin-right: 412px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todaysRecommands > div {
  width: 1050px;
}

.todaysRecommands > div > h2 {
  display: flexbox;
  font-size: 27px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.products {
  display: flex;
  position: relative;
  margin-left: 20px;
}

.products > .btns {
  z-index: 9999;
  width: 152%;
  left: -269px;
  top: 140px;
}

.product {
  position: relative;
  width: 265px;
  margin-right: 10px;
}

.product > img {
  height: 320px;
}

.product_info {
  margin-top: 5px;
}

.product > button {
  position: absolute;
  bottom: 105px;
  right: 11px;
  background-color: rgba(242, 203, 255, 0.6);
  border-radius: 50%;
  padding: 12px;
  padding-top: 15px;
}

.recommandBtn {
  position: absolute;
  bottom: 119px !important;
}

.product__icon {
  width: 30px;
  height: 30px;
}

.product_info_price {
  margin-top: 7px;
  font-weight: 500;
}

.product_info_price > strong {
  color: tomato;
}

.product_info_price > div {
  font-weight: 400;
  font-size: 15px;
  color: rgb(190, 190, 190);
  text-decoration-line: line-through;
}
